:root {
  --font-base: 'Varela Round', blinkmacsystemfont, sans-serif;
  --dot-size: 40px;
}

@media (max-device-height: 732px) {
  :root {
    --dot-size: 36px;
  }
}

@media (max-width: 380px) {
  :root {
    --dot-size: 30px;
  }
}

.base {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to bottom, #ffa763, #ffc999);
  background-size: cover;
  font-family: var(--font-base);
  margin: 0;
}

.header {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 16px;
}

@media (max-width: 380px) {
  .header {
    padding: 4px 8px;
  }
}

.footer {
  box-sizing: border-box;
  padding: 8px;
  font-size: 12px;
  color: #ad6126;
}

.footer a {
  color: #ad6126;
  text-decoration: none;
}

.footer a:hover {
  color: #ad6126;
  text-decoration: underline;
}

.game {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 56px 0 0 0;
}

.game-board {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.steps {
  padding: 20px 0;
  counter-reset: step;
}

.step {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: relative;
}

.step::before {
  background: #f9f9f9;
  color: #ddd;
  content: counter(step);
  counter-increment: step;
  font-size: 18px;
  justify-content: center;
  height: 100%;
  left: -40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  position: absolute;
  text-align: center;
  top: 0;
  transition: font-size 0.3s ease;
  user-select: none;
  width: 40px;
}

@media (max-device-height: 732px) {
  .steps {
    padding: 10px 0;
  }
}

@media (max-device-height: 600px) {
  .step {
    padding: 8px 0;
  }
}

.step.active {
  background: #f3f3f3;
}

.step.active::before {
  color: #606062;
  font-size: 24px;
}

.step:first-of-type::before {
  border-radius: 5px 0 0 0;
}

.step:last-of-type::before {
  border-radius: 0 0 0 5px;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2);
}

.slot {
  box-shadow: 0 0 0 1px #ddd;
  border-radius: 100%;
  height: var(--dot-size);
  width: var(--dot-size);
  margin: 0 0 0 10px;
  transition: box-shadow 0.2s ease;
}

.slot.dragover {
  box-shadow:
    0 0 0 2px #ddd,
    inset 0 0 0 4px rgba(0, 0, 0, 0.3);
}

.active .slot:not([data-color="undefined"])::before {
  display: block;
  width: var(--dot-size);
  line-height: 36px;
  content: '×';
  color: white;
  position: absolute;
  text-align: center;
  font-size: 28px;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.25, 0, 0, 1.5);
  transform: scale(0.5) rotate(-45deg);
  visibility: hidden;
  pointer-events: none;
}

.active .slot:not([data-color="undefined"]):hover::before {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}

.results {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  width: var(--dot-size);
}

.result {
  border-radius: 100%;
  box-shadow: 0 0 0 1px #ddd;
  flex: 0 0 calc(var(--dot-size) / 4);
  height: calc(var(--dot-size) / 4);
  margin: calc(var(--dot-size) / 8);
  width: calc(var(--dot-size) / 4);
}

.result.color-match {
  background: #ddd;
}

.result.location-match {
  background: #000;
}

.dots {
  background: #f1f1f1;
  border-radius: 0 5px 5px 0;
  box-shadow:
    inset 3px 0 0 0 rgba(0, 0, 0, 0.1),
    0 4px 0 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  padding: 10px;
  right: calc(-1 * (var(--dot-size) + 20px));
  top: var(--dot-size);
}

.dot {
  cursor: grab;
  border-radius: 100%;
  height: var(--dot-size);
  width: var(--dot-size);
}

.dot.active {
  cursor: default;
  box-shadow:
    inset 0 0 0 2px white,
    0 0 0 2px #ddd;
}

.dot.active:active {
  cursor: default;
}

.dot:active {
  cursor: grabbing;
}

.dot + .dot {
  margin: 10px 0 0 0;
}

.dot.ghost {
  opacity: 0.5;
  position: fixed;
  top: -40px;
  left: -40px;
  cursor: grabbing;
}

.dot[data-color="pink"],
.slot[data-color="pink"] { background: #ea67c7; }

.dot[data-color="green"],
.slot[data-color="green"] { background: #2ecc71; }

.dot[data-color="blue"],
.slot[data-color="blue"] { background: #3498db; }

.dot[data-color="purple"],
.slot[data-color="purple"] { background: #9b59b6; }

.dot[data-color="grey"],
.slot[data-color="grey"] { background: #34495e; }

.dot[data-color="yellow"],
.slot[data-color="yellow"] { background: #f1c40f; }

.dot[data-color="orange"],
.slot[data-color="orange"] { background: #e67e22; }

.dot[data-color="red"],
.slot[data-color="red"] { background: #e74c3c; }

.button {
  font-family: var(--font-base);
  font-size: 18px;
  border: none;
  height: 44px;
  line-height: 44px;
  padding: 0 48px;
  text-align: center;
  transition: all 0.2s ease;
  cursor: default;
  user-select: none;
  outline: 0;
}

.button:active {
  transform: translateY(1px);
}

.button-primary {
  background: #9b59b6;
  color: white;
  border-radius: 22px;
}

.button-primary:hover {
  background: #a16db5;
}

.button-secondary {
  background: rgba(255, 255, 255, 0.6);
  color: #ad6126;
  border-radius: 22px;
}

.button-secondary:hover {
  background: white;
}

.button-ternary {
  background: none;
  color: #c17235;
  border-radius: 22px;
  font-size: 14px;
  border: 2px solid #c17235;
  margin: 0 0 0 10px;
}

.button-ternary:hover {
  background: rgba(255, 255, 255, 0.5);
}

.try {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  top: -56px;
}

.try.invisible {
  opacity: 0;
  pointer-events: none;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 214, 182, 0.7);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  opacity: 0;
  transition:
    opacity 0.1s ease,
    visibility 0.1s ease;
  visibility: hidden;
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}

.overlay-title {
  font-size: 56px;
  color: #9b59b6;
  margin: 0 0 20px;
}

.overlay-content {
  padding: 32px;
  color: #757575;
  line-height: 1.5em;
}

.overlay-box {
  border-radius: 32px;
  background: white;
  max-width: 960px;
  transition: transform 0.1s ease;
  transform: scale(0.9);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  align-items: center;
}

.overlay-action {
  padding: 16px;
}

.overlay.visible .overlay-box {
  transform: scale(1);
}

.overlay-box .slot-count,
.overlay-box .step-count {
  display: contents;
}

.overlay-contents {
  display: none;
}
